apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: api-second-hpa
  namespace: kitchen-sink
  labels:
    app: api-second
    app.kubernetes.io/name: api-second
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: api-second
  minReplicas: 2
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 60
      policies:
        - type: Pods
          value: 1
          periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Pods
          value: 1
          periodSeconds: 300
