apiVersion: v1
kind: Service
metadata:
  name: front-service
  namespace: kitchen-sink
  labels:
    app: front
    app.kubernetes.io/name: front
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  selector:
    app: front
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
